.metadata/
timetable/.settings/
RemoteSystemsTempFiles/.project
timetable/.classpath
timetable/.project
timetable_mvc_client/.classpath
timetable_mvc_client/.project
timetable_mvc_client/.settings/
timetable_mvc_client/.springBeans
