<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Gym Timetable</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  </head>
	<body>
	<h1 th:text="#{title.timetableevents}">Timetable of Events</h1>

    <table>
      <tr>
        <th th:text="#{timetable.header.class}">CLASS</th>
        <th th:text="#{timetable.header.startTime}">START TIME</th>
      </tr>
      <tr th:each="gymClass : ${timetable.classes}">
        <td th:text="${gymClass.title}">Onions</td>
        <td th:text="${#calendars.format(gymClass.startTime,'dd MMMM yyyy hh:mm')}">2.41</td>
      </tr>
    </table>
	</body>
</html>